:root {
  --color-primary-dark-1: hsl(217, 54%, 11%);
  --color-primary-dark-2: hsl(216, 50%, 16%);
  --color-primary-dark-3: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
  --color-soft-blue: hsl(215, 51%, 70%);
  --color-cyan: rgb(0, 255, 247);
}

*,
*::before,
*::after {
  margin: 0;
  padding: o;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary-dark-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  height: 100vh;
}

.card {
  background-color: var(--color-primary-dark-2);
  width: 18%;
  min-height: 50rem;
  border-radius: 10px;
}

.card__image {
  margin: 1.5rem auto;
  width: 90%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  border-radius: 7px;
  background: url(images/image-equilibrium.jpg) no-repeat center center;
  background-size: cover;
  object-fit: cover;

  position: relative;
}

.card__image::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s;
}

.card__image:hover::after {
  background-color: rgba(0, 255, 247, 0.3);
}

.card__image--view {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__image:hover .card__image--view {
  opacity: 1;
  visibility: visible;
}

.card__image:hover {
  cursor: pointer;
}

.card__title {
  font-size: 2rem;
  color: var(--color-white);
  display: inline-block;
  margin: 0 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.card__title:hover {
  cursor: pointer;
  color: var(--color-cyan);
}

.card__description {
  font-size: 1.8rem;
  margin: 0 1.5rem;
  color: var(--color-soft-blue);
  font-weight: 300;
}

.card__info {
  display: block;
  margin: 0 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.price,
.time {
  display: flex;
  align-items: center;
}

.price > span {
  color: var(--color-cyan);
  text-transform: uppercase;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.time > span {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  color: var(--color-soft-blue);
}

.card__footer {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  margin-top: 2rem;
  border-top: 0.5px solid var(--color-primary-dark-3);
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.card__footer > img {
  width: 3rem;
  height: 3rem;
}

.card__footer > span {
  margin-left: 1rem;
  color: var(--color-soft-blue);
  font-size: 1.4rem;
  font-weight: 400;
}

.footer__link {
  color: var(--color-white);
}

.footer__link:hover {
  color: var(--color-cyan);
}
